.cont{
    color: #2D3E98;
    width: 250px;
    height: 200px;
    top: 100px;
    left: 0px;
    float: left;
    flex-grow: 1;
}
.cont1{
    background-color: #5e78f7;
    width: 250px;
    height: 200px;
    top: 100px;
    left: 0px;
    float: left;
    flex-grow: 1;
}