.inner-container {
    width: 1040px;
    margin: 0 auto;
    position: relative;
}

body {
    background-color: white;
}

header {
    height: 100px;
    width: auto;
    background-color: #9bc3ff;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    display: flex;
    flex-shrink: 0;
}

header p {
    font-size: 40px;
    position: absolute;
    line-height: 50%;
    margin-left: 40px;
}

header nav {
    font-size: 20px;
    color: black;
    position: absolute;
    left: 180px;
    line-height: 500%;
}

header nav a {
    margin: 0 10px;
}

#container {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 15px;
}

.box {
    height: auto;
    width: 346px;
    margin: 10px;
    flex-grow: 1;
}

.common {
    border-right: solid 1px gray;
}

footer {
    background-color: #5abeff;
    color: black;
    font-size: 12px;
    text-align: center;
    line-height: 150%;
    padding: 10px 0;
    margin-bottom: 0px;
}
#명소{
    background-color: gray;
}
.title{
    background-color: #5abeff;
    font-size:30px;
}
.마로니에{
    background-color: #64AAFF;
  height:90px;
    width: 90px;
    text-align: center;
    line-height: 575%;
    
}