.inner-container {
    width: 1040px;
    margin: 0 auto;
    position: relative;
}

body {
    background-color: white;
}

header {
    height: 100px;
    width: auto;
    background-color: #9bc3ff;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    display: flex;
    flex-shrink: 0;
}

header p {
    font-size: 40px;
    position: absolute;
    line-height: 50%;
    margin-left: 40px;
}

header nav {
    font-size: 20px;
    color: black;
    position: absolute;
    left: 180px;
    line-height: 500%;
}

header nav a {
    margin: 0 10px;
}

.mainimg {
    height: 482px;
    width: 720px;
}

.kontainer {
    width: 2160px;
    transform: translate(0px);
    transition: transform 0.5s;
    margin: 40px 0;
}

.inner {
    height: 480px;
    width: 720px;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    float: left;
}

.inner img {
    height: 480px;
    float: left;
}

.inner strong {
    font-size: 40px;
    padding-left: 10px;
    padding-top: 10px;
}

.buttons {
    display: flex;
}


/* #container {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 15px;
}

.box {
    height: auto;
    width: 346px;
    margin: 10px;
    flex-grow: 1;
} */

.common {
    border-right: solid 1px gray;
}

footer {
    background-color: #5abeff;
    color: black;
    font-size: 12px;
    text-align: center;
    line-height: 150%;
    padding: 10px 0;
    margin-bottom: 0px;
}

#명소 {
    height: 700px;
    background-color: gray;
}

.title {
    background-color: #5abeff;
    font-size: 30px;
}

.마로니에 {
    position: relative;
    background-color: #64AAFF;
    height: 90px;
    width: 90px;
    text-align: center;
    line-height: 575%;
    bottom: 30px;
    left: 1074px;
}

.이화 {
    position: relative;
    background-color: #64AAFF;
    height: 90px;
    width: 90px;
    text-align: center;
    line-height: 575%;
    left: 239px;
    top: 6px;
}

.낙산 {
    position: relative;
    background-color: #64AAFF;
    height: 90px;
    width: 90px;
    text-align: center;
    line-height: 575%;
    left: 1082px;
    top: 383px;
}

.마로니에공원 {
    position: relative;
    left: 1165px;
    bottom: 350px;
}

.이화마을 {
    position: relative;
    bottom: 100px;
    right: 490px;
}

.낙산공원 {
    position: relative;
    bottom: -150px;
    left: 925px;
}